<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create New Workout</title>
    <link rel="stylesheet" href="../assets/styles/header.css">
    <link rel="stylesheet" href="../assets/styles/text.css">
    <link rel="stylesheet" href="../assets/styles/flexbox.css">
    <link rel="stylesheet" href="../assets/styles/create-new-routine.css">
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
</head>

<body>

<header>
    <ul class="navbar">
        <li class="nav-elt"><a href="../index.html">Home</a></li>
        <li class="nav-elt"><a href="dashboard.html">Dashboard</a></li>
        <li class="nav-elt"><a class="active-tab" href="routines.html">Routines</a></li>
        <li class="nav-elt"><a href="blog.html">Blog</a></li>
        <li class="user-elt"><a href="account.html"><img src="../assets/images/user-icon2.png" class="user-icon" alt="User Icon"></a></li>
    </ul>
    <h1 class="center redText">Create A New Routine</h1>
</header>

<main class="box">
    <section class="column">
        <input type="text" id="txtRoutineName" placeholder="Routine Name">
        <select name="routineType" id="txtRoutineType">
            <option value="Build Muscle">Build Muscle</option>
            <option value="Lose Weight">Lose Weight</option>
            <option value="Transform">Transform</option>
            <option value="Endurance">Endurance</option>
            <option value="Improve Sport">Improve Sport</option>
        </select>
        <input type="text" id="txtRoutineDesc" placeholder="Routine Description">
        <button id="btnCreateNewRoutine">Create Routine</button>
    </section>
</main>

<footer>
    <p>Developed by Andrew Lake</p>
    <p>Contact Information: <a class="email-link" href="mailto:alake1@luc.edu">alake1@luc.edu</a></p>
</footer>

</body>
<script src="../assets/scripts/create-new-routine.js"></script>
</html>